[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
boto3 = "*"
pyyaml = "*"
jupyter = "*"
statsmodels = "*"
requests = "*"
xlrd = "*"
pillow = "*"
dill = "*"
sklearn-transformers = {git = "https://github.com/free-and-fair-common-sense-algorithms/sklearn_transformers.git"}
scikit-learn = "~=0.21.3"

[requires]
python_version = "3.6"
